body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  color: #fff;
  font-size: 28px;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 100;
  text-decoration: none;
}

.App-text {
  font-size: 18px;
}

.App-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

main > .App-wrapper {
  padding: 0 20px;
}

.App-header {
  background: linear-gradient(-45deg, #c86ce7, #db6f9c);
  min-height: 320px;
  padding: 40px 40px 60px;
  box-sizing: border-box;
}

.App-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
* Intro
* ----------------------------------------
*/
.App-intro {
  margin-top: 40px;
}

.App-intro iframe {
  padding: 0 5px;
}

.App-title {
  font-size: 48px;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.App-title a {
  color: #fff;
  text-decoration: none;
}

.App-title:hover {
  opacity: 0.8;
}

.App-title__highlight {
  color: #d91d6a;
}

.App-subtitle {
  font-size: 27px;
  line-height: 1;
  color: #93046a;
  font-weight: normal;
  margin-bottom: 10px;
}
.App-subtitle + .App-subtitle {
  color: #fff;
  margin-bottom: 40px;
}

/*
* Forms
* ----------------------------------------
*/
.App-form {
  margin-top: 40px;
}

.App-form__hint {
  margin-bottom: 40px;
}

.App-form__field {
  padding: 20px;
  min-width: 450px;
  font-size: 17px;
  border: 2px solid #91cbf2;
  border-radius: 5px;
}

.Album-List {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Album-List > li {
  flex: 1 0 25%;
  max-width: 150px;
  padding: 40px;
  transition: all 0.2s ease-in-out;
}

.Album-List > li:hover,
.Album-List > li > a:focus {
  transform: scale(1.2);
}

.Card {
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
}

.Card-Expanded {
  margin: 40px auto;
  display: flex;
  padding-bottom: 0;
}

.Card-Expanded > img {
  margin: 0;
  width: 250px;
}

.Card-Expanded > div {
  text-align: left;
  width: 100%;
  padding: 40px;
}

.Card-Expanded .Media-Title {
  font-size: 24px;
  margin-bottom: 5px;
}

.Card-Expanded .Media-Author {
  font-size: 18px;
  margin-bottom: 10px;
}

.Card-Expanded .Media-Date {
  font-size: 15px;
}

.Media-Cover {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.Media-Text {
  font-size: 12px;
  font-weight: normal;
  box-sizing: border-box;
}

.Media-Title {
  font-size: 15px;
  display: block;
  margin: 0 auto;
  color: #444;
  padding: 0 10px;
}

.Media-Author {
  font-size: 13px;
  color: #999;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

.Media-Date {
  padding: 5px 10px;
  color: #c4829d;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Tracks {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.Tracks li {
  padding: 5px 0;
}

.Track-Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #fbfbfc;
  border: 1px solid #efefef;
}

.Track-Item__inner {
  display: flex;
  align-items: center;
}

.Loading {
  /* position: fixed;
  background-color: rgba(0, 0, 0, .25);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center; */
}

footer {
  padding: 40px;
  color: #afafaf;
  font-size: 13px;
}

footer span {
  display: inline-block;
  padding-right: 3px;
}

footer a {
  color: #afafaf;
  font-weight: bold;
  text-decoration: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .App-form__field {
    min-width: auto;
  }

  .Card-Expanded {
    display: block;
  }

  .Card-Expanded > div {
    width: auto;
    padding: 20px;
  }

  .Card-Expanded > img {
    margin: auto;
    width: 100%;
  }

  .Track-Item {
    display: block;
  }
}
